.promo {
    &__opacity {
        // background-color: rgba($color: #fff, $alpha: 0);
        min-height: 100vh;
        padding-top: 205px;
    }
    &__wrapper {
        background: url("../img/photo.jpeg") right no-repeat;
        position: relative;
        background-color: #ae4f57;
    }

    &__img {
        min-height: 100vh;
    }
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        @include before_circle;
        position: relative;
        padding-left: 10px;
        z-index: 2;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #000000;
        font-weight: bold;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}
